<div class= "comments">
<%= form_for([@post, @post.comments.build]) do |f| %>
<h2>Add Comment:</h2>
  <p>
  <%= f.label :Name_and_Bio %><br />
  <%= f.text_field :name %><br />
  </p>
  <p>
  <%= f.label :Write_Your_Thoughts %><br />
  <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
