<%= form_for @post do |f| %>
<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
    </h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2><%= f.label :title %></h2>
  <%= f.text_field :title, size:"42x12" %>

<%= f.radio_button(:topic, "Question") %>
<%= label_tag(:topic, "Question") %>
<%= f.radio_button(:topic, "Idea") %>
<%= label_tag(:topic, "Idea") %>
<%= f.radio_button(:topic, "Random Thought") %>
<%= label_tag(:topic, "Random Thought") %>

<h2><%= f.label :body %></h2>
  <%= f.text_area :body, size:"60x12" %>
  <%= f.submit %>
<% end %>
