<%= form_for @post do |f| %>
<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
    </h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>Post Title:</h2>
  <%= f.text_field :title %>
<h2>Select a Topic that Best Describes Your Post:</h2>
  <%= f.radio_button(:topic, "Question") %>
  <%= label_tag(:topic, "Question") %><br />
  <%= f.radio_button(:topic, "Idea") %>
  <%= label_tag(:topic, "Idea") %><br />
  <%= f.radio_button(:topic, "Random Thought") %>
  <%= label_tag(:topic, "Random Thought") %>
<h2>What's On Your Mind?</h2>
  <%= f.text_area :body %><br />
  <%= f.submit %>
<% end %>
