<div class="wow tada">
  <h1>Ideas that need your input</h1>
</div>

<% @posts.each do |post| %>

  <div class= "post-view">

  <%= render partial: "topic", locals: {post: post} %> <br />
  <h1> <%= link_to post.title, post_path(post) %> </h1>
  <strong> Submitted <%= time_ago_in_words(post.created_at) %> by <span><%= post.user.email %></span></strong>

  <p class="post-body"><%= post.body %></p>

  <%= render partial: "voting", locals: { post: post } %>

</div>

<% end %>
