<div class ="post-show">

  <h1><%= @post.title %></h1>
  <h5>Submitted <%= time_ago_in_words(@post.created_at) %> by <%= @post.user.email %></h5>

  <%= render partial: "topic", locals: { post: @post } %>

  <% if @post.user == current_user %>
      <%= link_to 'Edit Post', edit_post_path(@post), class: "nav-link" %> |
      <%= link_to 'Delete Post', post_path, method: :delete, class: "nav-link" %>
  <% end %>

  <p class="post-body"><%= @post.body %></p>

  <%= render partial: "voting", locals: { post: @post } %>

  <h2>Existing Comments:</h2>
  <%= render 'comment' %>

  <h2>Add a Comment:</h2>
  <%= render 'comments/form' %>

  <%= link_to 'Back to Dashboard', posts_path, class: "nav-link" %>

</div>
