<h1>Title: <%= @post.title %></h1>
<%=link_to 'edit post', edit_post_path(@post), class:"nav-link" %> | <%= link_to 'delete post', post_path, method: :delete, class:"nav-link" %>
<p>
  Text: <%= @post.body %> </p>
<%= @post.created_at %>

<div class= "comments">
<% @post.comments.each do |comment| %>
  <h2>Comments:</h2>
  <%= comment.title %>
  <%= comment.body %>
<% end %>

<h2>Add a Comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
  <%= f.label :title %><br />
  <%= f.text_field :title %><br />
  </p>
  <p>
  <%= f.label :body %><br />
  <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>

<%= link_to 'back to ideas', posts_path, class: "nav-link" %>
