<h1>
  Title: <%= @post.title %>
</h1>

<%= render partial: "topic", locals: { post: @post } %>

<% if @post.user == current_user %>
    <%= link_to 'Edit Post', edit_post_path(@post), class: "nav-link" %> |
    <%= link_to 'Delete Post', post_path, method: :delete, class: "nav-link" %>
<% end %>

<p>Text: <%= @post.body %></p>

<h2>Existing Comments:</h2>
<%= render 'comment' %>


<h2>Add a Comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back to Dashboard', posts_path, class: "nav-link" %>
