<h1>
  Title: <%= @post.title %>
</h1>

<%= link_to 'edit post', edit_post_path(@post), class:"nav-link" %> |
<%= link_to 'delete post', post_path, method: :delete, data: { confirm: "Are you sure?" }, class:"nav-link" %>

<p>
  Text: <%= @post.body %>
  Created at: <%= @post.created_at %>
</p>

<h2>
  Comments:
</h2>
<div class= "comments">
  <% @post.comments.each do |comment| %>
  <p id= "comments_title">
    <strong>Title: </strong><%= comment.title %>
  </p>
  <p id="comment_body">
    <strong>Body: </strong><%= comment.body %>
  </p>
  <%= link_to 'delete comment', post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" }, class:"nav-link" %>
  <% end %>
</div>

<h2>
  Add a Comment:
</h2>
<%= render 'comments/form' %>

<%= link_to 'back to ideas', posts_path, class: "nav-link" %>
