<h1>
  Title: <%= @post.title %>
</h1>

<h2 clas= "topic">
  Topic: <%= @post.topic %>
  <% if @post.topic == "Question" %>
    <%= image_tag "/assets/question-mark2.png" %>
  <% elsif @post.topic == "Idea" %>
    <%= image_tag "/assets/Light-Bulb-logo.png" %>
  <% elsif @post.topic == "Random Thought" %>
    <%= image_tag "/assets/thought-bubble.png" %>
  <% else %>
  <% end %>
</h2>

<% if @post.user == current_user %>
    <%= link_to 'Edit Post', edit_post_path(@post), class: "nav-link" %> |
    <%= link_to 'Delete Post', post_path, method: :delete, class: "nav-link" %>
<% end %>

<p>Text: <%= @post.body %></p>

<h2>Comments:</h2>

<div class= "comments">
  <% @post.comments.each do |comment| %>

  <p id= "comments_title">
    <strong>Title: </strong><%= comment.title %>
  </p>

  <p id="comment_body">
    <strong>Body: </strong><%= comment.body %>
  </p>

  <%= link_to 'delete comment', post_comment_path(@post, comment), method: :delete, class:"nav-link" %>

  <% end %>
</div>

<h2>
  Add a Comment:
</h2>
<%= render 'comments/form' %>

<%= link_to 'Back to Dashboard', posts_path, class: "nav-link" %>
